.contentWrapper{
  display: flex;
  flex-direction: column;
}

html, body{
  height: 100vh;
  margin: 0;
}

.contentWrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  background-color: #777eb4;
  height: 10vh;
}

.bookList{
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  height: 80vh;
}

.bookCard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid green;
  color: white;
  background-color: #777eb4;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  height: 22vh;
}

.bookTitle{
  align-self: center;
}

.bookData{
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  gap: 10px;
}

.bookData > div{
  padding-bottom: 5px;
}

#newBookButton{
  align-self: center;
  align-content: center;
  justify-self: center;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 50px;
}

li{
  list-style: none;
}

button{
  gap: 10px;
}

.newButtonDiv{
  display: flex;
  background-color: #777eb4;
  justify-content: flex-end;
  height: 10vh;
}

footer{
  margin-top: auto;
}

img{
  width: 50px;
  justify-self: end;
  justify-content: end;
  align-self: end;
}

#newBookForm{
  display: flex;
  flex-direction: column;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: #777eb4;
  color: white;
  border: 2px solid black;
  width: 300px;
  max-width: 80%;
  border-radius: 10px;
  padding: 20px;
  z-index: 10;
}

#newBookForm.active{
  transform: translate(-50%, -50%) scale(1);

}

#formButtonDiv{
  display: flex;
  justify-content: space-evenly;
}
#submitButton, #cancelButton{
  width: 140px;
}

.newBookForm.open{
  opacity: 1;
  z-index: 999;
  display: block;
}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}


#overlay.active{
  opacity: 1;
  pointer-events: all;
}